<html>

<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript">
    function redirect(link) {
      window.location.href = link;
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </nav>
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12">
        <h3>Create New Todo</h3>
        <form method="POST" action="/">
          <div class="input-group mb-3">
            <input type="text" name="text" class="form-control" placeholder="Add a new TODO item">
            <div class="input-group-append" id="button-addon">
              <button class="btn btn-outline-primary" type="submit" value="update">Create new</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">Data</div>
      <div class="col-md-12">
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
          {% for note in notes %}
          <tr>
            <form method="POST" action="/edit/{{note.id}}">
              <td>
                <input type="text" title="{{note.dateAdded}}" value="{{note.text}}" name="text" class="form-control">
              </td>
              <td>
                <input type="hidden" name="done" value="off">
                <a href="#" onclick="redirect('/edit/{{note.id}}')" data-target="/edit/{{note.id}}" name="done"
                  class="btn btn-danger btn-sm">Delete</a>

                <div class="input-group-append" id="button-addon2">
                  <button class="btn btn-warning btn-sm" type="submit" value="update">Update</button>
                </div>


              </td>
            </form>
          </tr>

          {% endfor %}
        </table>
      </div>
    </div>

  </div>
</body>

</html>